.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #0e0b0b;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
.fs-4{
  color: rgb(25, 5, 96);;
}
.display-4{
  color: #080600;
}
.wer{
  opacity: 0;
}
.nav1{
  
   border-radius: 5px;
   
}
.container1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row1{
  background-color: rgb(14, 117, 206);
}
.d-flex1{
  background-color: rgb(14, 117, 206);
  border-radius: 5px;
}
.nav-item1{
  background-color: rgb(25, 5, 96);
  border-radius: 5px;
  margin: 5px;
}
.nav-item2{
  background-color: rgb(25, 5, 96);
  border-radius: 5px;
  margin: 5px;
}
.nav-item3{
  background-color: rgb(25, 5, 96);
  border-radius: 5px;
  margin: 5px;
}
.row2{
  background-color:rgb(14, 117, 206) ;
  border-radius: 5px;
}
.card-body1{
  background-color: #0e0b0b;
}
.p-51{
  background-color:rgb(14, 117, 206) ;
}
.card1{
  background-color: rgb(3, 111, 206);
  border-radius: 6px;
}
.card2{
  background-color: rgb(3, 111, 206);
  border-radius: 6px;
}
.card3{
  background-color: rgb(3, 111, 206);
  border-radius: 6px;
}
